# Build output
target/
build/
out/
code/doc
# IDE
.idea/
*.iml
.vscode/
*.classpath
*.project
.settings/
.ai/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Compiled
*.class
*.jar
*.war

# Maven / Gradle
.gradle/
gradle-wrapper.jar

*.aux
*.bbl
*.blg
*.bcf
*.run.xml
*.out
*.synctex.gz
*.synctex.*
*.toc

.vs/
.vscode/

*-blx.bib

